# Snakemake cache
.snakemake/

# Workflow outputs
results/

# Python cache
__pycache__/
*.pyc

# Windows / WSL metadata
*:Zone.Identifier
*.Zone.Identifier

# Generated DAG image
dag.png
resources/pyseer/
resources/raw_data
